body{
	  background: #bcbff4;
}
.fandom{
	font-size: 20px;
}
@media all and (orientation: portrait)
    and (min-width: 601px)
    and (max-width: 1099px)
	      body { background: #A1CDFF;
		  }